*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
 background: url(concrete_seamless.png);   
}

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; }

a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
    padding: 50px;
    /*box-shadow: 0px 10px 30px #dbdbdb;*/
}
.description{
    text-align: center;
    margin-bottom: 20px;
}
.title {
    color: #000000;
    font-family: verdana;
    font-size: 3em;
    text-align: center;
}

.project-style {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.project-style li {
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.project-style li:hover .caption {
    opacity: 1;
}
.project-style img {
    margin: 0px;
    width: 400px;
    padding: 0px;
    float: left;
    z-index: 4;
}
.project-style .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out; 
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.project-style .blur {
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 400px;
    z-index: 5;
    position: absolute;
}
.project-style .caption-text h1 {
    text-transform: uppercase;
    font-size: 24px;
}
.project-style .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 100px;
}








